@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* Custom properties */

:root {
    --primary-color: #28a745;
    --secondary-color: #0284d0;
    --dark-color: #333;
    --light-color: #f4f4f4;
}


/* General reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    color: var(--dark-color);
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    color: #fff;
    opacity: .8;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    padding: 0 30px;
}

.navbar .logo {
    font-weight: 400;
}

.navbar nav ul {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #fff;
}

.navbar nav a {
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar nav a:hover {
    border-bottom: 1px solid var(--primary-color, #28a745);
}


/* Hero */

#home header {
    background: url("../images/home/showcase.jpg") no-repeat center center / cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

#home header * {
    z-index: 1;
}

#home header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
}

#home .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding: 50px 0;
}

.hero h1 {
    font-size: 55px;
}

.hero p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
}